@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap");

body {
  background: #6868ac;
}

h1 {
  font-family: "Calligraffitti", cursive;
  font-weight: 700;
  font-size: 3rem;
  text-shadow: -15px 5px 20px #ced0d3;
  letter-spacing: 0.02em;
  text-align: center;
  color: #f9f1cc;
}